@model List<Calculator.Models.ViewModels.PromotionArrReportDto>

@{
    ViewData["Title"] = "Salary Arrears";

}

<h1>Promotion Arrears Report Generator</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PromoArrearsReport" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Staff Union</label>
                <select name="UnionId" class="form-control" asp-items="ViewBag.UnionId"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Generate Report" class="btn btn-success" />
            </div>
        </form>
    </div>

    <div class="col-md-4">
        @if (ViewBag.response != null)
        {
            <input type="button" class="btn btn-outline-success" value="Copy Result" onclick="selectElementContents( document.getElementById('myTable') );">

            <table class="table" id="myTable">
                <thead>
                    <tr>
                        <th>
                            Staff Number
                        </th>
                        <th>
                            Staff Name
                        </th>
                        <th>
                            Category
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Unit
                        </th>
                        <th>
                            Last PromoEndDate
                        </th>
                        <th>
                            Paid GradeStep
                        </th>
                        <th>
                            Expected GradeStep
                        </th>
                        <th>
                            Total PromoArrears
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.response)
                    {
                        <tr>
                            <td>
                                @item.StaffNumber
                            </td>
                            <td>
                                @item.StaffName
                            </td>
                            <td>
                                @item.Category
                            </td>
                            <td>
                                @item.StaffStatus
                            </td>
                            <td>
                                @item.StaffUnit
                            </td> 
                            <td>
                                @item.LastEndMonth.ToString("MMMM yyyy")
                            </td>
                            <td>
                                @item.LastPaidGradeStep
                            </td>
                            <td>
                                @item.LastExpectedGradeStep
                            </td>
                            <td>
                                @item.Variance.ToString("#.##")
                            </td>

                        </tr>
                    }
                </tbody>
            </table>

        }


    </div>


</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });

    function selectElementContents(el) {
        var body = document.body, range, sel;
        if (document.createRange && window.getSelection) {
            range = document.createRange();
            sel = window.getSelection();
            sel.removeAllRanges();
            try {
                range.selectNodeContents(el);
                sel.addRange(range);
            } catch (e) {
                range.selectNode(el);
                sel.addRange(range);
            }
        } else if (body.createTextRange) {
            range = body.createTextRange();
            range.moveToElementText(el);
            range.select();
        }

        document.execCommand('copy');
    }

</script>


